<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GalaScript" version="0.1.0-ci.50" targetFramework="net472" />
  <package id="GalaScript.Interfaces" version="0.1.0-ci.50" targetFramework="net472" />
  <package id="InputSimulatorPlus" version="1.0.7" targetFramework="net472" />
  <package id="Sprache" version="2.2.0" targetFramework="net472" />
</packages>